# Docker Build & Push Pipeline
# Builds Docker image from application folder and pushes to Docker Hub

trigger: none

resources:
  - repo: self

variables:
  tag: '$(Build.BuildId)'
  imageName: 'SimpleTimeService'
  dockerHubUser: 'nishant4028'

pool:
  name: NishantAgent
  demands:
    - agent.name -equals myagent

stages:
- stage: BuildAndPush
  displayName: Build and Push Docker Image
  jobs:
  - job: Build
    displayName: Build and Push
    steps:
      - task: Docker@2
        displayName: Docker Login
        inputs:
          containerRegistry: 'devops-to docker-hub'
          command: 'login'


      - task: Docker@2
        displayName: Build Docker Image
        inputs:
          containerRegistry: 'devops-to docker-hub'
          repository: '$(dockerHubUser)/$(imageName)'
          command: 'build'
          Dockerfile: '$(Build.SourcesDirectory)/API-source-code/Dockerfile'
          buildContext: '$(Build.SourcesDirectory)/API-source-code'
          tags: |
            $(tag)
            latest

      - task: Docker@2
        displayName: Push Docker Image
        inputs:
          containerRegistry: 'devops-to docker-hub'
          repository: '$(dockerHubUser)/$(imageName)'
          command: 'push'
          tags: |
            $(tag)
            latest
